body {
    background-color: rgba(127, 255, 212, 0.356);
}
h1 {
    background-color: orangered;
    width: 25%;
    padding: 20px;
    color: white;
}
.paragraph {
    background-color: peachpuff;
    width: 40%;
    padding: 20px;
    color: green;
    line-height: 1.5;
}
.ranNum {
    width: 30%;
}
h2 {
    width: 15%;
    background-color: rgb(12, 184, 12);
    padding: 20px;
    height: 100px;
}
#computer {
    flex: 70%;
    width: 150px;
}
.score {
    width: 75px;
    background-color: aqua;
    height: 100px;
}
.gems {
    width: 40%;
}
h3 {
    width: 20%;
    background-color: rgb(52, 202, 202);
}
.user {
    width: 20%;
    background-color: rgb(52, 202, 196);
}
